body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
}

.special {
    color:blue;
    text-align: center;
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
}

li {
    color:crimson;
    font-size: x-large;
    text-align: center;
    font: 'Courier New';
}